* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "GFS Neohellenic", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Karla", sans-serif;
  /* font-family: "Mooli", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Quicksand", sans-serif; */
  /* font-family: 'Roboto Mono', monospace;
  font-family: 'Victor Mono', monospace; */
  /* font-size: 62.5%; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
